@model MVC_Assignment.Models.Task

@using (Html.BeginForm())
{
    <style>
        td {
            text-align: left;
            width: 200px;
            text-decoration: underline;
        }

        table {
            border-width: 20px;
            border-collapse: separate;
            border-spacing: 2px;
        }

        .head {
            text-align: center;
        }

        .btn {
            border-radius: 12px;
            background-color: #e7e7e7;
            color: black;
        }
    </style>
    <div class="head"><h5>Create a new Task</h5></div>
    <table>
        @*<tr>
               <td>
                   @Html.LabelFor(t => t.TaskId)
               </td>
               <td>
                   @Html.TextBoxFor(t => t.TaskId)
               </td>
            </tr>*@

        <tr>
            <td>
                @Html.LabelFor(t => t.Title)
            </td>
            <td>
                @Html.TextBoxFor(t => t.Title)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(t => t.Description)
            </td>
            <td>
                @Html.TextAreaFor(t => t.Description)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(t => t.AssigneeName)
            </td>
            <td>
                @Html.TextBoxFor(t => t.AssigneeName)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(t => t.Complitation_Date)
            </td>
            <td>
                @Html.TextBoxFor(t => t.Complitation_Date)
            </td>
        </tr>

        <tr>
            <td> </td>
            <td><input type="submit" class="btn"  /> </td>
        </tr>
    </table>
}
