@model MVC_Assignment.Models.Task

@using (Html.BeginForm())
{
    <style>
        td {
            text-align: left;
            width: 200px;
            text-decoration: underline;
        }

        table {
            border-width: 20px;
            border-collapse: separate;
            border-spacing: 2px;
        }

        .head {
            text-align: center;
        }
        .btn {
            border-radius: 12px;
            background-color: #e7e7e7;
            color: black;
        }
    </style>
    <div class="head"><h5>Edit Task</h5></div>
    <table>
        <tr>
            <td>
                @Html.LabelFor(t => t.TaskId) <br />
            </td>
            <td>
                
                @Html.HiddenFor(t => t.TaskId) <br />
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(t => t.Title) <br />
            </td>
            <td>
                @Html.TextBoxFor(t => t.Title) <br />
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(t => t.Description) <br />
            </td>
            <td>
                @Html.TextAreaFor(t => t.Description)<br />
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(t => t.AssigneeName)<br />
            </td>
            <td>
                @Html.TextBoxFor(t => t.AssigneeName)<br />
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(t => t.Complitation_Date) <br />
            </td>
            <td>
                @Html.TextBoxFor(t => t.Complitation_Date)<br />
            </td>
        </tr>

        <tr>
            <td> </td>
            <br />
            <td><input type="submit" class="btn"/> </td>
        </tr>
    </table>
}